/**
 * Created by zhiyuan.liu on 16/9/29.
 */
@import url(http://fonts.googleapis.com/css?family=Merriweather:300,400,700|Lato:300,400);
:root {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.5;

	color: #525252;
	background-color: #fdfaf7;
	text-shadow: #fff 1px 2px;
}
.clear {
	clear: both;

	margin: 0;
	padding: 0;

	border: 0;
	background: none;
}

.clearfix:after {
	display: block;

	visibility: hidden;
	clear: both;

	height: 0;

	content: ".";
}
html {
	background-color: #69befe;
}
h1 {
	font-size: 2em;

	margin: .67em 0;
}
ul, ol, li {
	padding: 0;
}
li {
	margin: .5em 0;
}
a {
	text-decoration: none;

	color: #5c85d6;
	&:visited {
		color: #7a8fb8;
	}
	&:hover {
		text-decoration: underline;

		color: #85a3e0;
	}
	&:active {
		color: #36c;
	}
}

body {
	position: relative;

	max-width: 36em;
	margin: 0 auto;
	padding: 0 5vw;
}
blockquote {
	margin: 0;
	padding: 1em 1em 1em 40px;

	border-left: 5px solid #ddd;
	background: #fafbfc;
}
.header {
	font-weight: 300;

	margin: 12vmin 0;

	text-align: center;

	color: #8f8f8f;
	a {
		display: inline-block;
	}
	.logo {
		width: 64px;
		height: 64px;

		border-radius: 32px;
	}
}
.header-title {
	font-size: 1.75em;
	font-weight: inherit;

	margin: .25em 0;

	letter-spacing: 1px;

	color: inherit;
}
.header-desc {
	margin: 0;
}
.nav {
	margin-top: 2em;
	&:before, &:after {
		display: block;

		height: 1px;

		content: "";

		background: linear-gradient(to right, transparent, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), transparent);
	}
	a:hover {
		text-decoration: none;
	}
}
.nav-group {
	display: inline-block;

	margin: 0 1em;
}
.nav-item {
	display: inline-block;

	line-height: 1;

	padding: 1em .5em;

	color: inherit;
	&:visited {
		color: inherit;
	}
	&:hover {
		color: #525252;
	}
	&:active {
		color: #ccc;
	}
	&.active {
		font-weight: 400;

		color: #333;
	}
}

.index-item {
	position: relative;

	clear: both;

	margin-bottom: 3em;
	padding: 0;

	list-style-type: none;
	> a {
		text-decoration: none;

		color: #000;
	}
}
.index-title {
	font-size: 1.6em;
	line-height: 1.3;

	margin: .2em 0;

	color: #4d4e53;
}
.index-date {
	display: inline-block;

	font-weight: 300;

	margin-right: .5em;

	color: #4d4e53;
}
.archives {
	list-style-type: none;
}
.archives-time {
	margin-right: 1em;
}
.post {
	font-size: 15px;
	table, img {
		max-width: 100%;
	}
}
.post-title {
	text-align: center;
}
.post-info {
	line-height: 16px;

	text-align: center;

	color: #525252;
	a {
		color: inherit;
	}
}
.post-content {
	margin: 2em 0;
}
.icon {
	display: inline-block;

	width: 16px;
	height: 16px;
	margin: 2px 3px 0 3px;
}
.icon-tag {
	margin-left: 2em;

	background: url("../img/tag.png") no-repeat;
}
.icon-clock {
	background: url("../img/clock.png") no-repeat;
}
.linenums {
	padding: 5px 0;
	li {
		margin: 0;
	}
}
.footer {
	font-size: 16px;
	font-weight: 300;
	&:before {
		display: block;

		height: 1px;

		content: "";

		background: linear-gradient(to right, transparent, rgba(0, 0, 0, .1), rgba(0, 0, 0, .1), transparent);
	}
	span {
		font-weight: inherit;
	}
	p {
		display: block;

		margin: 1em 0;

		text-align: center;

		color: #525252;
	}
	i {
		margin: 0 .5em;
	}
}
// 分页
.pager {
	margin-bottom: 4em;

	text-align: center;
	button {
		display: inline-block;

		font-size: 1em;
		line-height: 3em;

		-moz-box-sizing: border-box;
		     box-sizing: border-box;
		width: 3em;
		height: 3em;
		margin: 0 1em;
		padding: 0 1em;

		cursor: pointer;

		color: #8f8f8f;
		border: 1px solid #8f8f8f;
		border-radius: 3em;
		background: transparent;
		&.disabled {
			cursor: not-allowed;
		}
		&:not(.disabled):hover {
			color: #0e2231;
			border-color: #0e2231;
		}
	}
}
// 折叠按钮
.fold {
	display: none;
}
@media (min-width: 600px) {
	body {
		font-size: 1.16em;
	}
}
@media (min-width: 1800px) and (min-height: 1200px) {
	body {
		font-size: 1.24em;
	}
}
@media (max-width: 599px) {
	.fold {
		display: block;

		position: absolute;
		top: 0;
		right: 1em;

		width: 64px;
		height: 64px;

		border-radius: 32px;
		background: url(../img/hamburger.svg) no-repeat center center;
		background-size: 40px;
	}
	.fold:active {
		background-color: rgba(0, 0, 0, .1);
	}
	#top:target .fold {
		transition: opacity 1s ease-in;
		pointer-events: none;

		opacity: 0;
	}
	.menu {
		position: absolute;

		visibility: hidden;

		-webkit-transform: translateY(-50px);
		        transform: translateY(-50px);

		opacity: 0;
	}
	#top:target .menu {
		position: relative;

		visibility: visible;

		transition: opacity .3s ease-out, -webkit-transform .2s cubic-bezier(0, .44, .195, 1.25);
		transition: opacity .3s ease-out, transform .2s cubic-bezier(0, .44, .195, 1.25);
		-webkit-transform: translateY(0);
		        transform: translateY(0);

		opacity: 1;
	}
}
@media (min-width: 600px) {
	.menu.is-post {
		display: none;
	}
}
